<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Vinay ERP SDAC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>Controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsumerController</display-name>
    <servlet-name>ConsumerController</servlet-name>
    <servlet-class>Controller.ConsumerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsumerController</servlet-name>
    <url-pattern>/ConsumerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerController</display-name>
    <servlet-name>SellerController</servlet-name>
    <servlet-class>Controller.SellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerController</servlet-name>
    <url-pattern>/SellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersController</display-name>
    <servlet-name>OrdersController</servlet-name>
    <servlet-class>Controller.OrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersController</servlet-name>
    <url-pattern>/OrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reported_productsController</display-name>
    <servlet-name>Reported_productsController</servlet-name>
    <servlet-class>Controller.Reported_productsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reported_productsController</servlet-name>
    <url-pattern>/Reported_productsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsController</display-name>
    <servlet-name>ProductsController</servlet-name>
    <servlet-class>Controller.ProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsController</servlet-name>
    <url-pattern>/ProductsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>Controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
</web-app>